#test {
    color: #0d0d0d;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: white;
}
.headline {
    color: #0d0d0d;
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 30rem;
}
.headline > p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
}
#zeleno {
    /* background-color: bisque; */
    background-color: #ff8e3c;
}
#zeleno > a {
  text-decoration: none;
  color: white;
}
.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10rem;
    background-color: rgb(16, 16, 16);
    /* background-color: #eff0f3; */
    color: white;
    height: 799px;
    align-items: center;
    min-height: 883px;
}
#profilepic {
    height: 300px;
    object-fit:cover;
}
@keyframes border-move {
    0% {
      border-color: #0d0d0d;
    }
    50% {
      border-color: orangered;
      transform: translateX(10px); /* Преместете ја границата за 10 пиксели во десно */
    }
    100% {
      border-color: #0d0d0d;
    }
  }
  
  /* Применете ја анимацијата на елементот */
  .hphoto {
    overflow: hidden;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 300px;
    border: 3px solid red; /* Поставете граница со црвена боја и ширина 2 пиксели */
    animation: border-move 2s linear infinite; /* Применете ја анимацијата за 2 секунди со линеарно движење и без крај */
  }
.btn-container1 {
    display: flex;
    justify-content: space-evenly;
}
.btn1 {
  width: 150px;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
.dabe {
  width: 150px;
}
@media only screen and (min-width: 320px) {
  /* #root > div > div.header {
    height: 1100px;
  } */
  .headline {
    padding-top: 150px;
  }
  #root > div > div.header > div.hphoto {
    padding: 0;
    /* margin-top: 120px; */
    width: 290px !important;
  }
  #profilepic {
    height: 20rem;  
    width: 20rem !important;
  }
  #profilepic {
    object-fit: cover;
}
}
@media only screen and (max-width: 320px) {
  #root > div > div.header > div.headline > p:nth-child(1) {
    font-size: 1.3rem;
  }
  #test {
    font-size: 2rem;;
  }
}
@media only screen and (max-width: 960px) {
  #petar > header > div.container {
    display: block;
   
  }
  #profilepic {
    height: 20rem;  
    width: 22rem;
  }
  #root > div > div.header > div.hphoto {
    padding: 0;
    margin-top: 0px;
    width: 350px;
  }
  #root > div > div.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 1100px;
  }
  .header {
    display: block;
  }
  .headline {
    padding-top: 150px;
  }
#petar > header > div.container > div.content-block > div.content-description {
  width: 350px;
}
#petar > header > div.container > div.content-block {
  margin-top: 400px;
}
#petar > header > div.container > div.profile-picture-container > img {
  margin-left: 200px;
}
#petar > header > div.container > div.content-block > h6 {
  width: 350px;
}
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    width: 100%;
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }
}
@media only screen and (min-width: 600px) {
  .headline {
    padding-top: 30px;
  }
  .header {
    min-height: 913px;
  }
  #root > div > div.header > div.hphoto {
    width: 310px !important;
    margin-bottom: 50px;
  }
}