.resume-inside {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.resume-container {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
#resume-bar {
  width: 100px;
  height: 5px;
  background-color: #ff8e3c;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.study-time-spent {
  height: auto;
  text-align: center !important;
  width: 130px;
  border: 1px solid black;
  border-radius: 2rem;
  background-color: #008080;
}
#zamalce > header > div > div.resume-container > div > h3 {
  font-size: 20px;
}
#zamalce > header > div > div.resume-container > div.resume-left {
  text-align: left;
  width: 400px;
}
#zamalce > header > div > div.resume-container > div.resume-right {
  text-align: left;
  width: 400px;
}
  .resume-left, .resume-right {
    display: flex;
    width: 200px;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: rgb(33, 37, 41) !important;
    width: calc(50% - 20px);
    color: white;
  }
  .study-university {
    color: #ff8e3c;
  }
  .study-description {
    color: rgba(255,255,255,.5)!important;
  }
  
  
  @media (max-width: 767px) {
    .resume-left, .resume-right {
      width: 100%;
    }
    
  }
  
    @media (max-width: 840px) {
      .resume-container {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: 1000px;
        align-items: center;
        width: 100%;
    }
      .resume-left, .resume-right {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 350px;
        align-items: center;
        justify-content: space-around;
      }
      .private-container {
        display: flex;
        flex-direction: column;
        height: 1100px;
        width: 400px;
      }
      #zamalce > header > div > div.private-container > div { 
        width: auto !important;
        display: flex;
        flex-direction: column !important; 
        justify-content: center;
      }
      #zamalce > header > div > div.private-container > div.skills-inside > div {
        width: 300px !important;
      }
      
    }
    @media (max-width: 400px) {
      .resume-container {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: 1000px;
        align-items: center;
        width: 100%;
    }
      .resume-left, .resume-right {
        width: 300px !important;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 350px;
        align-items: center;
        justify-content: space-around;
      }
      .private-container {
        display: flex;
        flex-direction: column;
        height: 1100px;
        /* width: 300px; */
      }
      .skill {
        width: 280px;
        padding-left: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #zamalce > header > div > div.private-container { 
      width: 300px !important;
    }
    #zamalce > header > div > div.private-container > div.skills-inside > div {
      width: 300px;
    }
    #zamalce > header > div > div.private-container > div.skills-inside {
      display: flex;
      flex-direction: column;
    }
    }
    header {
      min-height: 100vh; 
    }
    .private-container {
			margin: 50px auto;
			max-width: 1170px;
			background-color: rgb(33, 37, 41);
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      align-items: center;
      display: flex;
      flex-direction: column;
		}

		h1 {
			text-align: center;
		}

		.skill {
			margin-bottom: 10px;
      display: flex;
    flex-direction: column;
    justify-content: space-between;
    
		}

		.skill-name {
			font-weight: bold;
			margin-bottom: 5px;
		}

		.progress-bar {
			background-color: #ddd;
			height: 20px;
			border-radius: 10px;
			overflow: hidden;
		}

		.progress {
			background-color: #ff8e3c;
			height: 100%;
			border-radius: 10px;
			text-align: right;
			padding-right: 10px;
			box-sizing: border-box;
		}

		.progress span {
			color: white;
			font-weight: bold;
      line-height: 20px;
		}
    #zamalce > header > div > div.private-container > div {
      width: 1000px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    #zamalce > header > div > div.private-container > div.skills-inside {
      gap: 50px;
    }
    #zamalce > header > div > div.private-container > div.skills-inside > div {
      width: 500px;
    }
   .skillphoto {
      width: 50px;
      height: 50px;
    }
    .skill-name {
      display: flex;
      justify-content: space-between;
    }
    @media (min-width: 840px) {
      #zamalce > header > div > div.private-container {
        width: 810px !important;
      }
      #zamalce > header > div > div.private-container > div.skills-inside > div {
        width: 300px;
      }
    }
    .white {
      background-color: white;
    }
    .whitetext {
      color: black;
      /* border-bottom: 2px solid black; */
    }